<div class="modal-backdrop">
  <div class="modal-window">
    <div class="modal-window-container">
      <div class="modal-window-container-poster"></div>
      <div class="modal-window-container-info">
          <h2 class="film-name">A FISTFUL OF LEAD</h2>
          <ul class="film-info-list">
            <li class="list">
              <p>Vote / Votes</p>
              <p>7.3 / 1260</p>
            </li>
            <li class="list">
              <p>Popularity</p>
              <p>100.2</p>
            </li>
            <li class="list">
              <p>Original Title</p>
              <p>A FISTFUL OF LEAD</p>
            </li>
            <li class="list">
              <p>Genre</p>
              <p>Western </p>
            </li>
          </ul>
      </div>
      <div class="modal-window-container-forms"></div>
    </div>
  </div>
</div>
